:root {
  --background: #2c4557;
  --white: #fff;
  --blue-450: #5785a6;
  --blue-800: #273845;
}

body {
  background: var(--background);
}

input {
  background: var(--background) !important;
  color: #fff !important;
}

.container {
  background: #273845;
  padding: 32px;
  margin-top: 10%;
  max-width: 600px;
  border-radius: 4px;
}

.container label {
  color: white;
}

.container h1 {
  color: white;
}

#forgotPassword {
  text-decoration: none;
  color: white;
  text-align: center;
}

#register {
  text-decoration: none;
  color: white;
}
