h1,
p,
h2,
h4 {
  color: var(--white);
}

h1 {
  font-weight: 500;
  font-size: 4rem;
  cursor: pointer;
}

h1 a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

nav {
  display: grid;
  margin: 2rem 3rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  position: relative;
}

nav section:not(:first-child):after {
  content: "";
  position: absolute;
  background: var(--white);
  top: 4rem;
  height: 70vh !important;
  border-radius: 1px;
  width: 2px;
}

header div button.btn-out {
  border: none;
  background: none;
  color: var(--white);
  margin-right: 0.5rem;
  cursor: pointer;
}

.dropzone {
  padding: 16px;
  min-width: 282px;
  min-height: 200px;
  list-style: none;
  max-height: 600px;
  overflow-y: hidden;
}

.dropzone:hover {
  overflow-y: auto;
}

.card {
  background: var(--blue-800);
  padding: 16px;
  width: 100%;
  min-width: 250px;
  margin: 25px 0;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
}

.title-card {
  margin-bottom: 0.75rem;
  font-size: 2rem;
  color: var(--white);
  font-weight: bold;
}

.description-card {
  font-size: 1.5rem;
  color: var(--white);
  font-weight: normal;
}

.description-content-card {
  max-height: calc(304px - 35px);
  overflow-y: hidden;
}

.description-content-card:hover {
  overflow-y: auto;
}

.highlight {
  background-color: #fd951f08;
}

.is-dragging {
  cursor: move;
  opacity: 0.3;
}

.card,
.dropzone {
  transition: 400ms;
}

.over {
  background-color: #4cd13711;
}

.logout {
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.modal-content {
  background: #212531;
  color: white !important;
}

.modal-content h5 {
  font-size: 2rem;
}

.modal-content label {
  font-size: 1.8rem;
}

.modal-content input {
  background: transparent !important;
  color: white !important;
  font-size: 1.6rem;
}

.modal-content textarea {
  background: transparent !important;
  color: white !important;
  font-size: 1.6rem;
}
